body {
    background-color: darkgrey;
}
.png {
    background-image: url('../assets/file.png');
    background-repeat: no-repeat;
    background-position: 10px 20px;
}

.Breadcrumb div{
    display: inline-block;
    padding:5px;
}
.Modal {
    width:500px;
    height:200px;
}
.Node {
    display: inline-block;
    text-align: center;
    padding:10px;
}
.Node img {
    width:50px;
    height:50px;
}

.active-menu {
    display:block
}

.inactive-menu {
    display:none;
}